.about {
  display: flex;
  gap: 20px;
}
.ava img {
  width: 200px;
}

.avaBlock {
  width: 200px;
  height: 200px;
  position: relative;
}
.label {
  position: absolute;
  right: -40px;
  bottom: -9px;
}

